<% if action == :login %>
  <% action_url = session_url ; action_method = "POST" ; button_text = "Log In" %>
<% elsif action == :user && user.persisted? %>
  <% action_url = user_url(user) ; action_method = "PATCH" ; button_text = "Update User"%>
<% else %>
  <% action_url = users_url ; action_method = "POST" ; button_text = "Create User" %>
<% end %>

<form action="<%= action_url %>" method="POST">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= action_method %>">

  <label for="username">Username:<input type="text" name="user[username]" id="username">
  </label>
  <br>
  <label for="password">Password:<input type="password" name="user[password]" id="password">
  </label>
  <br>
  <input type="submit" value="<%= button_text %>">

</form>
